body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  margin: 0;
  padding: 0;
}

.upload-section{
  width: 100%;
  display: block;
  position: relative;
}

.upload-section-form{
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid black;
  padding: 2rem;
  margin: 2rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);

  input[type=file]{
    width: 100%;
    padding: .5rem;
    background-color: white;
    border: 1px solid black;
  }
}


.upload-section-form--label{
  margin-top: 1rem;
  font-size: 16px;
}
.upload-section-form__action{
  width: 100px;
  padding: .5rem;
  background: purple;
  color: white;
}